@font-face {
    font-family: spideyFont;
    src: url('../fonts/The\ Amazing\ Spider-Man.ttf');
    font-family: nova;
    src: url('../fonts/NovaSquare-Regular.ttf');
  }

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  html{
    font-family: "Poppins", Arial;
    font-size: 18px;
    scroll-behavior: smooth;
  }
  body{ 
  color: white !important;
  background: linear-gradient(0deg, #1A2841 0%, #0B1322 100%, #080A0E 100%);
  background-repeat: no-repeat;
  position: relative;
  }
  a{
    text-decoration: none;
    cursor: pointer;
    color: #fff;
  }
  /* others */
   nav .bi{
    color: #fff !important;
    font-size:3rem !important;
  }
  .navbar-toggler{
    outline: none;
  }
  .MainT .bi{
    color: #fff !important;
    font-size:3rem !important;
  }
  #about .bi{
    color: #fff !important;
    font-size:2.5rem !important;
    margin-right: 2rem;
  }
  .navbar-toggler{
    outline :none !important;
  }
  #roadmap ul{
    list-style: none;
  }
  #roadmap ul li{
    list-style: none;
  }

  /* end  of others */

  /* typography */
  h1,
  .MainT h4{
    font-family: nova;
  }
  #tokenomics h2{
    font-family: nova;
    display: block;
  }
  #roadmap h2{
    font-family: nova;
    display: block;
  }
  #about p{
    font-size: .9rem;
    font-family: nova;
  }
  #roadmap p{
    font-size: .9rem;
    font-family: nova;
  }
 p{
  font-family: nova;
 }
  .dis{
  font-family: nova;
  font-size: .75rem;
 }
 
  .MainT p{
    font-size: .9rem;
    font-family: nova;
    
  }
  
/* end of typo */

/* button */

.btn1{
    color: white;
    background-color: #FF0000;
    margin: 1rem .5rem;
    border: none; 
    font-weight: 600;
  }

  .btn1:hover{
    box-shadow: 0px 0px 15px 0px #FF0000;
  }

/* end */

  /* main body */
nav{
    background-color: #8b2323 !important;
    font-size: 1rem;
    padding-bottom: 5rem; 
    }
.navbar-nav li a{
        color:#fff !important;
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
        font-size: .8rem;
}
.navbar-nav li a{
    margin-right:.8rem;
    float: right;
    text-align: left;
  }
  .navbar{
    background: rgba(255, 255, 255, .7);
	-webkit-backdrop-filter: blur(12px);
	backdrop-filter: blur(12px);
  }
  

  /* main */
  #roadmap .card{
    background-color: #8b2323;
    color: #fff;
  }
#about{
  position: relative;
}

.imgF{
   position: absolute;
   top: 0;
   left: 50%;
   width:fit-content;  
}
.imgL{
    position: absolute;
    top: 0;
    right:55%;
    width:35%;
    z-index: -10;
 }


.Twrapper{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  padding: 0;
  gap: 2rem;
}

.Dtokenomics{
  display: inline;
  justify-content: center;
  align-items: center;
}
.MainT{
  display: flex;
  align-items: center;
  background-color: #002250;
  transition: all .5s ease-in-out;
}
.MainT:hover{
  box-shadow: 0px 0px 15px 0px #FF0000;
}

#end::before{
content: '';
width: 600px;
height: 5px;
background-color: #8b2323;
margin: 5rem auto;
display: block;
}
 #end{
  position: relative;
  margin-top: 3rem;
  padding-bottom:5rem;
  padding-top: 4rem;
 }
 .lt{
  position: absolute;
  bottom: 1rem;
  margin-top: 3rem;
  left: 50%;
  transform: translate3d(-50%, 100%, 0);
 }